<h3>ユーザー編集</h3>

    <%= form_with model: @schedule do |f| %>
      <table>
        <tr>
          <th><%= f.label :title ,"タイトル" %></th>
          <td><%= f.text_field :title %></td>
        </tr>

        <tr>
          <th><%= f.label :startdate ,"開始日" %></th>
          <td><%= f.date_field :startdate %></td>
        </tr>

        <tr>
          <th><%= f.label :enddate ,"終了日" %></th>
          <td><%= f.date_field :enddate %></td>
        </tr>

        <tr>
          <th><%= f.label :allday ,"終日" %></th>
          <td><%= f.check_box :allday %></td>
        </tr>

        <tr>
          <th><%= f.label :introduction ,"スケジュールメモ" %></th>
          <td><%= f.text_area :introduction %></td>
        </tr>
      </table>

      <div>
        <ul>
          <li><%= f.submit "更新を完了する"%></li>
          <li><%= link_to "ユーザー情報一覧に戻る", root_path %></li>
        </ul>
      </div>
    <% end %>